# Ignore personal Desktop files
*.pdf
*.docx
*.mp4
*.zip
*.lnk
desktop.ini
../Aktu syllabus/
../Coding/
../Fog of War/
../GreenNest/
../Java & Dsa notes/
../medilink/
../my-app/

# Ignore personal Desktop files
*.pdf
*.docx
*.mp4
*.zip
*.lnk
desktop.ini